<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><b>DDC Banks List</b> </h3><br />
                    <a href="@Url.Action("Add")" class="btn btn-primary"><b class="fa fa-plus fa-lg">New</b></a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>milk ltr</th>
                                <th>Fat kg</th>
                                <th>snf kg</th>
                                <th>ts kg</th>
                                <th>Bank</th>
                                <th>Account</th>
                                <th>Chilling rate</th>
                                <th>Transport rate</th>
                                <th>Agreement ltr</th>
                                <th>Agreement Rate</th>
                                <th>penalty</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Pharbhu</td>
                                <td>alex</td>
                                <td>naxal</td>
                                <td>susant </td>
                                <td>98088 </td>
                                <td>fax</td>
                                <td>1</td>
                                <td>Pharbhu </td>
                                <td>alex</td>
                                <td>naxal</td>
                                <td>susant </td>
                                <td>98088 </td>
                                
                                <td>
                                    <a href="@Url.Action("Update")" class="btn btn-info btn-sm "><b class="fa fa-pencil-square-o fa-lg"></b></a>
                                    <a href="@Url.Action("Delete")" class="btn btn-danger btn-sm"><b class="fa fa-trash-o fa-lg"></b></a>
                                </td>

                            </tr>


                        </tbody>

                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>
